@import "./color_schemes/dark";


//White Theme
$tint: #E11d30; 
$bg: #e7e8e8;

$link-color: $tint;
// $body-background-color: $bg;
// $body-heading-color: $grey-dk-200;
// $body-text-color: $grey-dk-100;
// $sidebar-color: $grey-lt-100 ;
// $nav-child-link-color: $grey-dk-100 ;
// $base-button-color: #f7f7f7 ;
// $btn-primary-color: $purple-100 ;
// $code-background-color: $grey-lt-000 ;
// $feedback-color: darken($sidebar-color, 3%) ;
// $table-background-color: $white ;
// $search-background-color: $white ;
// $search-result-preview-color: $grey-dk-000 ;