<footer id="nav-footer" class="site-footer">
    <p id="social-links">
        {% if site.author %}
            {% if site.author.github %}
                <a target="_blank" rel="noopener noreferrer" href="{{ site.author.github }}">{% include icons/github.html %}</a>
            {% endif %}
            {% if site.author.linkedin %}
                <a target="_blank" rel="noopener noreferrer" href="{{ site.author.linkedin }}">{% include icons/linkedin.html %}</a>
            {% endif %}
            {% if site.author.twitter %}
                <a target="_blank" rel="noopener noreferrer" href="{{ site.author.twitter }}">{% include icons/twitter.html %}</a>
            {% endif %}
        {% endif %}
    </p>
    <p>
        Built with <a href="https://github.com/just-the-docs/just-the-docs">Just the Docs</a>
    </p>
</footer>